body{
  font-family: Montserrat,sans-serif;
  width: 100%;
  margin: 0;
}
.top,.footerinp::placeholder,.slider-input input::placeholder,.slider-list,.inner-slider-nav ul,
.img-p,.recent-prop-each p, .real-tools p ,
textarea::placeholder, .form-input::placeholder, .useful-links li,
.testimonial p, .testimonial2 p, .testimonial3 p , .newsletter p, .f-real-estate p, time, button, .agents-details{
  font-family: lato,Helvetica,Arial,sans-serif;
}
header{
  width: 1170px;
  margin: 14px auto 26px auto;
  padding-top: 3px;
}
.click{
  cursor: pointer;
}
button{
  cursor: pointer;
  background-color: #ffa500;
  color: #ffffff;
  text-align: center;
  letter-spacing: 0.06em;
}
.topright:hover{
  text-decoration: underline;
  text-decoration-color: #000000;
}
.top{
  padding-bottom: 8px;
}
.tophr{
  background-color: #9b9b9b;
  height: 0.5px;
  width: 1170px;
  margin-bottom: 0;
  margin-top: 24px;
  display: block;
  border: none;
}
.slider-input{
  text-align:left;
  margin-left:55px;
}
.footerinp::placeholder{
  font-size: 15px;
  color: grey;

}
.slider-input input::placeholder{
  color: #434345;
  font-size: 14px;
}
.slider-btn{
  height: 50px ;
  width: 120px;
  line-height: 28px;
  font-size: 14px;
  font-weight: 700;
  margin-left: 10px;
}
.top-bottom{
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.06em;
  margin-top: 30px;
}
.sticky {
  position: fixed;
  top: 0;
  width: 1170px;
  background-color: #ffffff;
  z-index: 1;
  margin-top: 0px;
}
.top-bottom img{
  padding-top: 9.2px;
}
.head-list{
  float: right;
  list-style-type: none;
}
.head-list li{
  margin-left: 44.9px;
  display: inline-block;
}
.head-list a {
  padding: 0;
  color: #000000;
}
.slider-list{
  list-style-type: none;
}
.slider-list li{
  color: #9b9b9b;
  display: inline;
  padding: 0px 15px 0px 10px;
}
.topleft:hover{
  color: #ffa500;
}
.head-list a:after{
  display: block;
  content:'';
  height:2px;
  border-top: 2px solid #ffa500;
  width:0;
}
.head-list a:hover:after, #active{
  width: 100%;
  transition: 0.3s width;
}
.topleft  {
  color: #9b9b9b;
  float: left;
  margin-right: 39px;
  margin-bottom: 6px;
  font-size: 15px;
  font-weight: 400;
}
a{
  text-decoration-line: none;
}
.topright {
  color: #000000;
  float: right;
  margin-left: 101px;
  margin-bottom: 6px;
}
a :hover{
  background-color: #ffa500;
}
.list-a{
  padding-left: 5px;
  color: #ffffff;
}
li a{
  display: block;
  padding: 2px 2px 5px 20px;
}
.slider{
  background-image: url(../images/image1.jpg);
  background-size: cover;
  height: 520px;
}
.slider-nav{
  display: block;
  margin-top:15px;
  text-align: center;
}
.slider-content{
  text-align: center;
}
h1{
  font-size: 50px;
}
.slider h1{
  text-align: center;
  color: #ffffff;
}
.inner-slider{
  width: 824px;
  margin: 0 auto;
  padding-top:127.5px;
}
.inner-slider h1{
  font-size: 45px;
  font-weight: 700;
}
.inner-slider-nav ul{
  font-weight: 900;
  letter-spacing: 0.06em;
  display: block;
  list-style-type: none;
  text-align: left;
  margin:50px 0px 10px 80px;
}
.slider-radio:hover{
  background-color: #ffffff;
}
.inner-slider-nav li a:not(.li-a){
  color: #c4c4c4;
}
.inner-slider-nav li a:not(.li-a):hover{
  color: #ffffff;
}
.inner-slider-nav li{
  display: inline-block;
  margin-right: 20px;
}
.inner-slider-nav li a:nth-of-type(2), .inner-slider-nav li a:nth-of-type(3){
  display: inline-block;
  padding-left:20px;
}
.inner-slider-nav a{
  font-size: 14px;
  letter-spacing: 0.06em;
}
.slider-input input
{
  margin-left: 70px;
  height: 46px;
  width: 380px;
  padding-left: 13px;
  border: none;
}
.slider-input::placeholder{
  color: #000000;
}
.section-list{
  padding-top: 35px;
  padding-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
}
.h2{
  font-weight: 700;
  font-size: 38px;
  line-height: 1.184;
  margin-bottom: 17px;
  color:#434345;
  text-align: center;
}
.h2-white{
  color: #ffffff;
}
.section-list-image{
  display: inline-block;
  position: relative;
  margin-left: 15px;
  margin-right: 15px;
}
.section-list-image img{
  border-radius: 5px;
  filter:brightness(70%);
}
.section-list-image:hover .image-content{
  opacity:0;
}
.section-list-image:hover .imgh-content{
  transition: height 1s;
  opacity: 1;
}
.image-content{
  opacity: 1;
  top: 75px;
  width: 100%;
  text-align: center;
  position: absolute;
  color: aliceblue;
  margin-left: -3px;
}
.image-content h4, .imgh-content h4{
  line-height: 1.25;
  font-size: 24px;
  margin-bottom: 0;
  font-weight: 400;
}
.img-p{
  font-size: 16px;
  margin-top: 0px;
  display: block;
  line-height: 1.5;
  margin-bottom: 0;
}
.imgh-content{
  opacity:0;
  top: 40px;
  width: 100%;
  text-align: center;
  position: absolute;
  color: aliceblue;
  transition: 1s height ease;
}
.imgh-content button{
  display: block;
  width: 210px;
  height: 50px;
  font-weight: 900;
  font-size: 14px;
  vertical-align: middle;
  padding: 10px 0;
  border: 1px solid #ffa500;
  border-radius: 5px;
  margin-top: 10px;
}
.recent-prop{
  margin: 0px 20px 0px 20px;
  padding: 20px 70px 20px 70px;
}
.recent-prop-div{
  display: flex;
  flex-wrap: wrap;
  width:1200px;
  margin:0 auto;
}
.recent-prop-div1{
  display: flex;
  flex-wrap: wrap;
  width:1170px;
  margin:0 auto;
}
.flexdiv{
  display: flex;
  flex-wrap: wrap;
  width:1280px;
  margin:0  auto;
}
.flex{
  width:1200px;
}
footer .flexdiv{
  margin-left: 120px;
}
.flexdiv1{
  display: flex;
  flex-wrap: wrap;
  width:1100px;
  margin:0  auto;
}
.recent-prop-each{
  display: block;
  width: 370px;
  margin: 0 auto;
  margin-top: 42px;
}
.recent-prop-each:nth-of-type(4),.recent-prop-each:nth-of-type(5),.recent-prop-each:nth-of-type(6){
  margin-top: 50px;
}
.recent-prop-each p{
  color: #434345;
  line-height: 1.5;
  margin-top: 19.5px;
}
.recent-prop-each ul{
  padding-top:2px;
  padding-left: 0px;
  width: 100%;
  list-style-type: none;
}
.recent-prop-each li{
  display: inline;
  padding-left: 0px;
}
.recent-prop-each a{
  margin-top: -6.5px;
  font-size: 22px;
}
.section-list-image img{
  width: 330px;
  height: 210px;
}
.agents img{
  height: 270;
  width: 270;
}
.comm-btn{
  height: 50px;
  font-size: 14px;
  font-weight: 700;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.imgh-content button{
  margin-left: auto;
  margin-right: auto;
}
.main-btn3{
  margin-top: 50px;
  width: 202px;
}
.main-btn1{
  margin-top: 66px;
  width: 170px;
  }
.main-btn2{
  margin-top: 25px;
  width: 149.15px;
}
.sec-tools{
  margin-top: 66px;
  background-image: url(../images/bg.jpg);
  background-size: cover;
  height: 465px;
  padding-bottom: 110px;
}
.sec-tools-div{
  color: #ffffff;
  padding:80px 80px 0px 80px;
}
.icons{
  width: 70px;
  height: 70px;
  border-radius:50%;
  background: linear-gradient(45deg,#ff7e00 0%,#f5bf2f 100%);
  display: block;
  margin: 0 auto;
}
.real-tools{
  padding: 58px 15px 0px 15px;
  width:369.98px;
  text-align: center;
}
.real-tools p{
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
  color: #c4c4c4;
}
.sec-agents{
  margin-top: 10px;
  padding:40px 50px 110px 50px;
}
.agents{
  padding-top: 58px;
  text-align: left;
  width: 270px;
  margin: 0 auto;
}
h3{
  text-align: left;
}
h5 a{
  color: #000000;
}
.h5{
  font-weight: 700;
  font-size: 22px;
  margin-top: 29px;
  margin-bottom: 19px;
}
.sec-touch{
  padding-top: 78px;
  background-image: url(../images/bg2.jpg);
  background-size: cover;
  height:650px;
}
.sec-touch-div{
  padding-left: 50px;
  padding-right: 50px;
  color: #ffffff;
}
.form{
  padding-top: 35px;
  width:800px;
  margin: 0 auto;
}

textarea::placeholder, .form-input::placeholder{
  color: #ffffff;
}
footer{
  height: 330px;
  background-color: #191919;
}
.footericon{
  width: 25px;
  height: 25px;
  border-radius:50%;
  background-color: #ffa500;
  display: block;
  margin-left: 10px;
}
.footerinp{
  padding-left: 13px;
  width: 240px;
  height: 36px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  border-top: 1px solid #ffffff;
  border-left: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  margin-top: 30px;
  border-right: none;
}
.f-real-estate{
  width: 270px;
  text-align: left;
  padding: 65px 15px 0px 15px;
}
.footerul{
  list-style-type: none;
}
.footerbtn{
  width:106px;
  height:40px;
  font-size: 15px;
  font-weight: 900;
  margin-top: 30px;
  margin-left: -3px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top: 1px solid #ffa500;
  border-right: 1px solid #ffa500;
  border-bottom: 1px solid #ffa500;
  border-left: none;
}
.useful-links{
  color: #ffffff;
  width: 170px;
  text-align: left;
  padding:65px 15px 0px 15px;
}
.latest-news{
  color: #ffffff;
  width: 270px;
  text-align: left;
  padding:61px 15px 0px 15px;
}
.latest-news h6{
  margin-top: 3.75px!important;
}
.latest-news time{
  padding-left: 17px;
}
.latest-news article{
  padding-bottom: 0px;
  padding-top: 0px;
}
.useful-links li{
  display: block;
  width:100%;
  padding-left: 0px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}
.useful-links-list li:before{
  content: '';
  float: left;
  display: block;
  position: relative;
  margin-right: 0px;
  top:13px;
  border-radius: 50%;
  height: 4px;
  width: 4px;
  background-color: #ffa500;
  margin-left: 2px;
}
.useful-links li a{
  padding-left:15px!important;
  padding-bottom: 8px!important;
  padding-top: 2px;
}
.f-real-estate ul{
  padding-top:0px;
  padding-left: 0px;
  width: 100%;
  list-style-type: none;
}
.f-real-estate li{
  display: inline-block;
  padding-left: 0px;
}
.useful-links-list{
  padding-top:-5px;
  padding-left: 0px;
  width: 100%;
  list-style-type: none;
}
.useful-links-list a{
  color: #ffffff;
  }
.sec-testimonials{
  background-color: #f5f5f5;
  padding: 78px 50px 110px 50px;
}
.sec-testimonials-each{
  padding-top: 58px;
  width: 390px;
}
.testimonial:before{
  content: '';
  border-radius: 50%;
  float:left;
  width: 80px;
  height: 80px;
  display: block;
  background-image: url("../images/small1.png");
  margin-right: 20px;
}
.testimonial2:before{
  content: '';
  border-radius: 50%;
  float:left;
  width: 80px;
  height: 80px;
  display: block;
  background-image: url("../images/small2.png");
  margin-right: 20px;
}
.testimonial3:before{
  content: '';
  border-radius: 50%;
  float:left;
  width: 80px;
  height: 80px;
  display: block;
  background-image: url("../images/small3.png");
  margin-right: 20px;
}
.sec-testimonials-nav{
  display: inline-block;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  background-color: #ffa500;
  text-align: center;
  margin-left: 2px;
  margin-right: 1px;
  cursor:pointer;
}
.testimonial p:nth-of-type(2), .testimonial2 p:nth-of-type(2), .testimonial3 p:nth-of-type(2){
  color: #434345;
  display: block;
  float: right;
  font-weight: 700;
  line-height: 1.5;
  font-size: 16px;
  text-align: left;
  margin-top: 4px;
  font-style: normal;
}
.slider-radio{
  display: inline-block;
 height: 18px;
 width: 18px;
 background:transparent;
 border: 1px solid #ffffff;
 border-radius: 50%;
 margin: 0 15px;
}
.slider-nav1{
  display:block;
  cursor: pointer;
  margin-top: 105px;
  text-align: center;
}
hr:not(.tophr){
  width: 40px;
  height: 2px;
  background: linear-gradient(90deg,#ffa200 0%,#ff7e00 100%);
  border: none;
  margin-top: 27px;
}
.active{
  background-color: #ffffff;
}
.active1{
  background-color: #d9d9d9;
}
.name{
  display: block;
  font-weight: 700;
  color: #ffa500;
  padding-top: 25px;
}
.agents-name{
  display: block;
  font-size: 22px;
  font-weight: 700;
  color: #ffa500;
  padding-top: 15px;
}
h6{
  color: #434345;
  font-size: medium;
  font-weight: 700;
  font-size: 17px;
  line-height: 1.47059;
  margin-top: 10px;
  margin-bottom: 18px;
}
.agents-details{
  display:block;
  font-weight: 400px;
  font-size: 16px;
  color: #000000;
  padding: 4px 0px 3px 23px;
}
.testimonial p, .testimonial2 p, .testimonial3 p{
  text-align: left;
  float: right;
  width: 290px;
  font-weight: 400;
  margin-top: 0px;
  line-height: 1.5;
  color: #434345;
  font-style: italic;
  margin-bottom: 0;
}
.newsletter{
  width:370px;
  text-align:left;
  color: #ffffff;
  padding:65px 15px 0px 15px;
}
.f-real-estate h6, .newsletter h6, .useful-links h6, .latest-news h6{
  color: #ffffff;
  margin-top: 0px;
  letter-spacing: 0.06em;
  font-size: 17px;
  font-family: 'Montserrat',sans-serif;
}
.useful-links h6{
  margin-bottom: 5px;
}
.newsletter p{
  margin-bottom: 0;
  line-height: 1.5;
}
.f-real-estate p{
  padding-left:15px;
  text-align: left;
  margin-top: -4px;
  color: #434345!important;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}
.rounded-border2{
  border-radius: 5px;
  border: 1px solid #ffa500;
}
.rounded-border{
  border-radius: 5px;
  border: 1px solid #000000;
}
.inner-slider-list li:nth-of-type(2):before, .inner-slider-list li:nth-of-type(3):before{
  content: '';
  border-left: 1px solid grey;
  top: 20px;
  position: relative;
  margin-right: 20px;
}
.slider-list li:nth-of-type(2):before, .slider-list li:nth-of-type(3):before{
  content: '.';
  bottom: 3px;
  position: relative;
  margin-right: 15.5px;
}
time{
  color: #9b9b9b;
  font-size: 12px;
}
button:hover, button:active{
  background-color: #ff7e00;
}
.latest-news-heading{
  font-weight: 400;
  letter-spacing: 0.0em;
}
.form-input{
  border: 1px solid #ffffff;
  width: 353px;
  height: 46px;
  background: transparent;
  margin: 23.5px 12px 0px 15px;
  color: #ffffff;
  font-size: 13px;
  padding-left: 14px;
}
textarea{
  background: transparent;
  padding-top: 15px;
  padding-left: 15px;
  border-radius: 5px;
  border: 1px solid #ffffff;
  margin:25px 15px 0px 15px;
  width: 750px;
  height: 130px;
  font-size: 13px;
  color: #ffffff;
}
