@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?cm61o5');
  src:  url('../fonts/icomoon.eot?cm61o5#iefix') format('embedded-opentype'),
  url('../fonts/icomoon.ttf?cm61o5') format('truetype'),
  url('../fonts/icomoon.woff?cm61o5') format('woff'),
  url('../fonts/icomoon.svg?cm61o5#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
body{
  font-family: 'lato', Helvetica, Arial, sans-serif;
  width: 100%;
  margin: 0;
}
input::placeholder, button, textarea::placeholder{
  font-family: 'lato', Helvetica, Arial, sans-serif;
}
.header-bottom,
h1, h4, h5, h6, h2{
  font-family: Montserrat, sans-serif;
}
header{
  width: 1170px;
  padding: 16px 135px 3px 135px;
  height: 140px;
}
.cursor-pointer{
  cursor: pointer;
}
button{
  cursor: pointer;
  background-color: #ffa500;
  color: #ffffff;
  text-align: center;
  letter-spacing: 0.06em;
}
.icon-openmail:before, .icon-phone:before, .icons-star:before, .icons-chat:before, .icons-office:before,
.icons-facebook:before, .icons-twitter:before, .icons-linkedin:before, .icons-gplus:before, .icon-mail:before,
.arrow-right:before, .icon-openmail-black:before, .icon-phone-black:before{
  font-family: 'icomoon';
  margin-right: 7px;
}
.icon-openmail-black:before{
  margin-right: 5px;
}
.icon-openmail:before{
  content: '\f2b7';
  color: #9b9b9b;
  margin-right: 14px;
  font-size:16px;
}
.icon-phone:before{
  content: '\e901';
  color: #9b9b9b;
  margin-right: 14px;
  font-size:14px;
}
.icon-openmail-black:before{
  content: '\f2b7';
  color: #434345;
  font-size:17px;
  margin-left: 1px;
}
.icon-phone-black:before{
  content: '\e901';
  color: #434345;
  font-size:15px;
  margin-left: 1px;
}
.icons-facebook:before,
.icons-twitter:before,
.icons-linkedin:before,
.icons-gplus:before,
.icon-mail:before{
  position: relative;
  vertical-align: middle;
  top: 8px;
}
.icons-chat:before,
.icons-star:before,
.icons-office:before{
  position: relative;
  top: 22px;
  margin: 0 auto;
}
.icons-chat:before{
  font-size: 32px;
  content: '\e900';
}
.icons-star:before{
  font-size: 27px;
  content: '\f005';
}
.icons-office:before{
  font-size: 26px;
  content: '\e903';
}
.icons-facebook:before{
  margin-left:11px;
  content: '\ea90';
  color: #ffffff;
}
.icons-twitter:before{
  margin-left: 12px;
  content: '\f099';
  color: #ffffff;
}
.icons-linkedin:before{
  margin-left: 12px;
  content: '\eaca';
  color: #ffffff;
  top: 7px;
}
.icons-gplus:before{
  margin-left: 10px;
  content: '\ea8b';
  color: #ffffff;
  font-size: 21px;
}
.icon-mail:before{
  content:'\f0e0';
  padding-left: 10px;
  font-size: 14px;
  top: 7px;
}
.icon-mail-pre{
  background-color: #212121;
  margin-top: 30px;
  height: 40px;
  width: 32px;
  margin-bottom: -15px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  float: left;
}
.arrow-right:before{
  content: '\ea3c';
  margin-right: 2px;
  color: #ffa500;
  font-size: 10px;
  margin-left: 2px;
}
.topright a:hover{
  text-decoration: underline;
}
.head-top{
  padding-bottom: 6px;
  overflow: hidden;
}
.tophr{
  background-color: #d9d9d9;
  height: 1px;
  width: 1170px;
  margin-top:7px;
  display: block;
  border: none;
}
.slider-input{
  text-align:left;
  padding-top: 10px;
}
.newsletter-input::placeholder{
  font-size: 15px;
  color: #6c757d!important;
}
.slider-btn{
  height: 50px;
  width: 120px;
  line-height: 28px;
  font-size: 14px;
  font-weight: 700;
  margin-left: 10px;
  padding: 9px 16px;
}
.header-bottom{
  font-size: 15px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.06em;
  margin-top: 30px;
  overflow:hidden;
}
.header-bottom-img{
  padding-top: 8.5px;
  float: left;
}
.head-list{
  float: right;
  list-style-type: none;
}
.head-list li{
  margin-left: 44.85px;
  display: inline-block;
}
.head-list a {
  padding:  0;
  padding-top: 2px;
  color: #000000;
}
.slider-list li{
  color: #9b9b9b;
  display: inline;
  padding-right: 14px;
}
.topleft{
  float: left;
}
.topleft a:hover{
  color: #ffa500;
}
.head-list a:after{
  display: block;
  content:'';
  height:2px;
  border-top: 2px solid #ffa500;
  transform: scaleX(0);
  margin-top: 4px;
  }
.head-list a:hover:after,.head-list a:focus:after{
  transform: scaleX(1);
  transition: 0.3s all;
  }
.topleft  a{
  color: #9b9b9b;
  margin-right: 36px;
  margin-bottom: 6px;
  font-size: 15px;
  font-weight: 400;
}
#first:after{
  transform: scaleX(1);
}
a{
  text-decoration-line: none;
}
.topright{
  float: right;
}
.topright a{
  color: #000000;
  margin-left: 70px;
  margin-bottom: 6px;
}
a :hover{
  background-color: #ffa500;
}
.list-a{
  padding-left: 0px;
  left: -0.5px;
  position: relative;
}
li a{
  display: block;
  padding: 4px 0.2px 2px 19.8px;
}
#commercial{
  left: 0.5px;
  position: relative;
}
.slider{
  background-image: url(../images/image2.jpg);
  background-size: cover;
  width: 100%;
  background-position: center center;
  height: 98.25vh;
  position: relative;
}
.slider-nav{
  display: block;
  margin-top:14px;
  text-align: center;
  left: -4px;
  position: relative;
}
.slider-content{
  text-align: center;
}
.inner-slider{
  margin-top: -1px;
  width: 1200px;
  padding-top: 41px;
  padding-bottom: 41px;
  top: 50%;
  transform: translate(-50%,-50%);
  position: absolute;
  left: 50%;
}
.inner-slider h1{
  font-size: 45px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  margin-top: 0px;
  padding-left: 14.5px;
  padding-right: 15.5px;
}
.inner-slider-search{
  width: 570px;
  padding: 0 15px;
  margin: 71px auto 0;
}
.inner-slider-nav ul{
  font-weight: 900;
  letter-spacing: 0.06em;
  display: block;
  list-style-type: none;
  text-align: left;
  padding-left: 0px;
  margin: 0;
  height: 24px;
}
.slider-input input
{
  height: 36px;
  width: 350px;
  padding:5.5px 13.5px 6.5px 14.5px;
  border: 1px solid #ced4da;
  font-size: 13px!important;
}
.slider-input input::placeholder{
  color: #000000;
  top:-0.13px;
  position: relative;
}
.inner-slider-list li:nth-of-type(n+2):before{
  position: absolute;
  content: '';
  height: 7.25%;
  width: 1px;
  background: #c4c4c4;
  top: 169px;
}
.slider-radio:hover{
  transform:scale(1.4);
}
.inner-slider-nav li a:not(.slider-list-active){
  color: #c4c4c4;
}
.inner-slider-nav li a:hover{
  color: #ffffff;
}
.inner-slider-nav li{
  display: inline-block;
  margin-right: 17.5px;
}
.inner-slider-nav a{
  font-size: 14px;
  letter-spacing: 0.06em;
}

.prop-list{
  padding-top: 34px;
  padding-bottom: 34px;
  display: flex;
}
.initial-title{
  font-weight: 700;
  font-size: 38px;
  line-height: 1.184;
  margin-bottom: 17px;
  color:#434345;
  text-align: center;
  margin-top: 0px;
}
.h2-white{
  color: #ffffff;
  margin-top: 0px;
}
.prop-category{
  position: relative;
  margin-left: 15px;
  margin-right: 15px;
}
.prop-category img{
  border-radius: 5px;
  display: block;
}
.image-content{
  top: 75px;
  width: 100%;
  text-align: center;
  color: #ffffff!important;
  position: absolute;
  transition: 0.3s all;
  z-index: 2;
  left: -2.5px;
}
.prop-category-name:after{
  background-image: linear-gradient(to bottom,transparent 0%,rgba(0,0,0,0.5) 100%);
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0px;
  right: 0;
  border-radius: 5px;
}
.prop-category:hover .image-content{
  top: 40px;
}
.prop-category:hover .image-content button{
  transition-delay: 0.04s;
  visibility: visible;
}
.image-content h4{
  line-height: 1.25;
  font-size: 24px;
  margin-bottom: 0;
  font-weight: 400;
}
.img-p{
  font-size: 16px;
  margin-top: 0px;
  display: block;
  line-height: 1.5;
  margin-bottom: 0;
}
.image-content button{
  visibility: hidden;
  width: 210px;
  height: 50px;
  font-weight: 900;
  font-size: 14px;
  padding: 10px 0;
  border: 1px solid #ffa500;
  border-radius: 5px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
.recent-prop{
  margin: 0px 20px;
  padding: 66px 70px 110px;
}
.recent-prop-pre, .testimonial-pre, .flexdiv{
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}
.recent-prop-pre{
  width:1200px;
}
.testimonial-pre{
  width:1170px;
}
.flexdiv{
  width:1280px;
}
.flex{
  width:1200px;
}
.flexdiv-footer{
  width:1180px;
  margin:0 auto;
  padding: 0 15px;
}
.property{
  display: block;
  width: 370px;
  margin: 0 auto;
  margin-top: 50px;
}
.property:nth-of-type(1),.property:nth-of-type(2),.property:nth-of-type(3){
  margin-top: 42px;
}
.property p{
  color: #434345;
  line-height: 1.5;
  margin-top: 18.5px;
}
.property img{
  height:250px;
  width: 370px;
}
.property ul{
  padding-left: 0px;
  list-style-type: none;
  margin-top: 20px;
}
.property h5{
  font-size: 22px;
  margin-bottom: 0;
}
.prop-category img{
  width: 330px;
  height: 209px;
}
.agents img{
  height: 270px;
  width: 270px;
}
.comm-btn{
  height: 50px;
  font-size: 14px;
  font-weight: 700;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.main-btn-prop{
  margin-top: 34px;
  width: 202px;
}
.main-btn-agents{
  margin-top: 66px;
  width: 170px;
  }
.main-btn-send{
  margin-top: 27px;
  width: 149.15px;
}
.realestate-tools{
  background-image: url(../images/bg.jpg);
  background-size: cover;
  height: 355px;
  padding: 110px 0;
}
.realestate-tools h5{
  margin-top: 28px;
  margin-bottom: 19px;
}
.realestate-tools-pre{
  color: #ffffff;
  padding:0px 80px;
}
.icons-chat, .icons-star, .icons-office{
  width: 70px;
  height: 70px;
  border-radius:50%;
  background: linear-gradient(45deg, #ff7e00 0%, #f5bf2f 100%);
  display: block;
  margin: 0 auto;
}
.real-tools{
  padding: 58px 15px 0px;
  width:369.98px;
  text-align: center;
}
.real-tools p{
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
  color: #c4c4c4;
}
.real-agents{
  padding:110px 50px;
}
.real-agents .initial-title, .testimonials-whole .initial-title{
  margin-top: 0px;
}
.agents{
  padding-top: 58px;
  text-align: left;
  width: 270px;
  margin: 0 auto;
}
.agents h5{
  margin-top: 0;
  margin-bottom: 0;
}
h3{
  text-align: left;
}
h5 a{
  color: #000000;
}
.h5{
  font-weight: 700;
  font-size: 22px;
  margin-top: 20px;
  margin-bottom: 10px;
}
.get-touch{
  padding: 110px 0px;
  background-image: url(../images/bg2.jpg);
  background-size: cover;
}
.get-touch-pre{
  padding-left: 50px;
  padding-right: 50px;
  color: #ffffff;
}
.form{
  padding-top: 34px;
  width:801px;
  margin: 0 auto;
}
textarea::placeholder, .form-input::placeholder{
  color: #ffffff;
}
footer{
  padding-top: 66px;
  background-color: #191919;
  padding-bottom: 27px;
}
.footericon{
  width: 40px;
  height: 40px;
  border-radius:50%;
  background-color: #212121;
  display: block;
  margin: 0 5px;
 cursor: pointer;
}
.icons-facebook:hover{
  background-color: #0956b5;
}
.icons-twitter:hover{
  background-color: #28d4f9;
}
.icons-linkedin:hover{
  background-color: #0e7eb5;
}
.icons-gplus:hover{
  background-color: #f96a23;
}
.newsletter-input{
  padding: 5px 8px 3px;
  width: 215px;
  height: 30px;
  border: 1px solid #ced4da;
  margin-top: 30px;
  border-right: none;
}
.f-real-estate{
  display: inline-block;
  width: 270px;
  text-align: left;
  padding-right: 15px;
  vertical-align: top;
}
.f-real-estate img{
  padding-left: 5px;
  width: 170px;
  height: 30px;
}
.footerul{
  list-style-type: none;
  margin-top: 18px;
}
.newsletter-btn{
  width:105.8px;
  height:40px;
  font-size: 15px;
  font-weight: 900;
  margin-top: 29px;
  margin-left: -3px;
  padding: 4px 8px;
  border-top-right-radius: 3.2px;
  border-bottom-right-radius: 3.2px;
  border: 1px solid #ffa500;
}
.useful-links{
  vertical-align: top;
  display: inline-block;
  color: #ffffff;
  width: 170px;
  text-align: left;
  padding:0px 15px;
}
.latest-news{
  display: inline-block;
  color: #ffffff;
  width: 270px;
  text-align: left;
  padding-left:12px;
}
.latest-news h6{
  color: #ffffff;
  letter-spacing: 0.06em;
  font-size: 17px;
  margin-top: 0px;
}
.latest-news time{
  padding-left: 0px;
  margin-top: 1px;
}
.latest-news article{
  padding-bottom: 0px;
  padding-top: 1px;
  margin-top: 12px;
}
.useful-links li{
  display: block;
  width:100%;
  padding-left: 0px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}
.useful-links-list li:before{
  content: '';
  float: left;
  display: block;
  position: relative;
  margin-right: 9px;
  top:11px;
  border-radius: 50%;
  height: 4px;
  width: 4px;
  background-color: #ffa500;
  margin-left: 2px;
}
.useful-links li{
  padding-bottom: 8px;
  padding-top: 2px;
}
.f-real-estate ul, .useful-links-list{
  padding-top:0px;
  padding-left: 0px;
  width: 100%;
  list-style-type: none;
}
.f-real-estate li{
  display: inline-block;
  padding-left: 0px;
}
.useful-links-list a{
  color: #ffffff;
  }
.testimonials-whole{
  background-color: #f5f5f5;
  padding: 110px 50px 107px;
}
.review{
  padding-top: 58px;
  width: 390px;
}
.testimonial:before, .testimonial2:before, .testimonial3:before{
  content: '';
  border-radius: 50%;
  float:left;
  width: 80px;
  height: 80px;
  display: block;
  margin-right: 20px;
}
.testimonial:before{
  background-image: url("../images/small1.png");
}
.testimonial2:before{
  background-image: url("../images/small2.png");
}
.testimonial3:before{
  background-image: url("../images/small3.png");
}
.testimonials-nav{
  display: inline-block;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  background-color: #d9d9d9;
  text-align: center;
  margin-left: 8px;
  cursor:pointer;
}
.testimonials-nav:hover{
  background-color: #ffa500;
}
.slider-radio{
  display: inline-block;
 height: 10px;
 width: 10px;
 background:transparent;
 border: 2px solid #ffffff;
 border-radius: 50%;
 margin: 0 15px;
 transition: 0.3s all;
}
.slider-nav-bg{
  display:block;
  cursor: pointer;
  bottom: 25px;
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
}
hr:not(.tophr){
  width: 40px;
  height: 2px;
  background: linear-gradient(90deg,#ffa200 0%,#ff7e00 100%);
  border: none;
  margin-top: 27px;
}
.active{
  transform:scale(1.4);
  background-color: #ffffff;
}
.active-orange{
  background-color: #ffa500;
}
.prop-name{
  display: block;
  font-weight: 700;
  color: #ffa500;
  margin-top: 20px;
}
.agents-name{
  display: block;
  font-size: 22px;
  font-weight: 700;
  color: #ffa500;
  padding-top: 16px;
}
h6{
  color: #434345;
  font-weight: 700;
  font-size: 17px;
  line-height: 1.47059;
  margin-top: 10px;
  margin-bottom: 18px;
}
.agents-details{
  display:block;
  font-weight: 400;
  font-size: 16px;
  color: #000000;
  padding: 4px 0px 3px;
}
.testimonial-pre p{
  text-align: left;
  float: right;
  width: 290px;
  font-weight: 400;
  margin-top: 0px;
  line-height: 1.5;
  color: #434345;
  font-style: italic;
  margin-bottom: 0;
}
.newsletter{
  display: inline-block;
  width:375px;
  color: #ffffff;
  padding:0px 7px 0px 17px;
  vertical-align: top;
}
.f-real-estate h6, .newsletter h6, .useful-links h6{
  color: #ffffff;
  margin-top: 0px;
  letter-spacing: 0.06em;
  font-size: 17px;
}
.useful-links h6{
  margin-bottom: 5px;
}
.newsletter p{
  margin-bottom: 0;
  line-height: 1.5;
}
.f-real-estate p{
  padding-left:20px;
  text-align: left;
  margin-top: 1px;
  color: #434345;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}
.form-input.rounded-border, .rounded-border{
  border-radius: 5px;
  border: 1px solid #ced4da;
}
.main-btn-prop.rounded-border, .main-btn-agents.rounded-border, .main-btn-send.rounded-border, .slider-btn.rounded-border{
  border: 2px solid #ffa500;
  border-radius: 3px;
}

.slider-list li:nth-of-type(n+2):before{
  content: '.';
  bottom: 3px;
  position: relative;
  margin-right: 16.5px;
}
time{
  color: #9b9b9b;
  font-size: 12px;
}
article:hover time{
  padding-left: 10px;
  transition: 0.3s all;
}
article:hover .latest-news-heading{
  color: #ffa500;
}
button:hover, button:active{
  background-color: #ff7e00;
}
.latest-news-heading{
  font-weight: 400;
  letter-spacing: 0.0em;
  color: #ffffff;
  font-size: 17px;
  line-height: 1.47059;
  margin-top: 4px;
  margin-bottom: 16px;
}
.form-input{
  width: 337px;
  height: 36px;
  background: transparent;
  margin: 24px 12.5px 0px 15px;
  color: #ffffff;
  font-size: 13px;
  padding: 5.9px 15.5px 6.1px;
}
textarea{
  background: transparent;
  padding-top: 16px;
  padding-left: 15.5px;
  border-radius: 5px;
  border: 1px solid #ced4da;
  margin:24px 15px 0px;
  width: 750.5px;
  height: 130px;
  font-size: 13px;
  color: #ffffff;
  resize: none;
}
.slider-list-active{
  color: #ffffff;
}
#reviewer{
  color: #434345;
  display: block;
  float: right;
  font-weight: 700;
  line-height: 1.5;
  font-size: 16px;
  text-align: left;
  margin-top: 4px;
  font-style: normal;
}
