/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?cm61o5");
  src: url("../fonts/icomoon.eot?cm61o5#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?cm61o5") format("truetype"), url("../fonts/icomoon.woff?cm61o5") format("woff"), url("../fonts/icomoon.svg?cm61o5#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
/*---Media Queries --*/
@media (min-width: 1200px) {
  /* line 21, ../sass/screen.scss */
  header .container-fluid {
    max-width: 1140px;
  }

  /* line 24, ../sass/screen.scss */
  .top-list {
    display: none;
  }

  /* line 27, ../sass/screen.scss */
  .row.carousel-caption {
    margin: 0 auto;
    max-width: 1200px;
  }
}
@media (min-width: 992px) {
  /* line 33, ../sass/screen.scss */
  .top-list {
    display: none;
  }

  /* line 36, ../sass/screen.scss */
  .fixed-top {
    height: 60px;
  }
}
/* line 42, ../sass/screen.scss */
.fixed-top {
  position: fixed;
  width: 100%;
  top: 0;
  padding-left: 11.5% !important;
  padding-right: 11.5% !important;
  z-index: 1030;
  background-color: #ffffff;
  box-shadow: 0 3px 11px 0 rgba(0, 0, 0, 0.15);
}

/* line 52, ../sass/screen.scss */
.top-list {
  top: 40px;
  right: 0px;
  position: fixed;
  z-index: 1;
  background-color: #ffffff;
  padding: 10px;
  width: 220px;
}
/* line 60, ../sass/screen.scss */
.top-list li {
  margin: 10px 5px;
}

/* line 64, ../sass/screen.scss */
.menu-rd {
  left: 0;
  position: fixed;
  z-index: 1;
  background-color: #ffffff;
  width: 300px;
}
/* line 72, ../sass/screen.scss */
.menu-rd li {
  margin: 10px 5px;
}

/*--- Bootstrap Padding Fix --*/
/* line 77, ../sass/screen.scss */
[class*="col-"] {
  padding: 1rem;
}

/* line 81, ../sass/screen.scss */
button {
  background-color: #ffa500;
  color: white;
  cursor: pointer;
}

/* line 86, ../sass/screen.scss */
button:hover:not(.navbar-toggler) {
  background-color: #ff7e00;
}

/* line 89, ../sass/screen.scss */
html {
  overflow-x: hidden;
}

/* line 92, ../sass/screen.scss */
body {
  position: relative;
  font-family: "lato", Helvetica, Arial, sans-serif;
  overflow-x: hidden;
  margin: 0;
  width: 100%;
}

/* line 99, ../sass/screen.scss */
a {
  color: #000000;
}

/* line 102, ../sass/screen.scss */
.navbar-inner {
  padding: 14px 0 33px;
}

/* line 105, ../sass/screen.scss */
.topleft {
  float: left;
}
/* line 107, ../sass/screen.scss */
.topleft a {
  margin-right: 15px;
  color: #9b9b9b;
}

/* line 112, ../sass/screen.scss */
a.nav-link {
  color: #000000 !important;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.06em;
}

/* line 118, ../sass/screen.scss */
.navbar {
  padding: 0;
}

/* line 121, ../sass/screen.scss */
.navbar-inner-top {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 40px;
  border-bottom: 1px solid #d9d9d9;
  overflow: auto;
  width: 100%;
}

/* line 129, ../sass/screen.scss */
.topright {
  float: right;
}
/* line 131, ../sass/screen.scss */
.topright a {
  margin-left: 25px;
}

/* line 135, ../sass/screen.scss */
.slider.carousel-indicators {
  bottom: 40px;
}

/* line 138, ../sass/screen.scss */
.carousel-item img {
  width: 100%;
  height: 640px;
  background-size: cover;
}

/* line 143, ../sass/screen.scss */
.carousel-indicators li {
  border-radius: 50%;
  width: 13px;
  height: 13px;
  margin-right: 20px;
  transition: 0.3s all;
  background: transparent;
  border: 2px solid #ffffff;
}

/* line 152, ../sass/screen.scss */
.carousel-indicators li:hover {
  transform: scale(1.4);
}

/* line 155, ../sass/screen.scss */
.slider-active {
  transform: scale(1.4);
  background-color: #ffffff !important;
}

/* line 159, ../sass/screen.scss */
.nav-item {
  color: #000000 !important;
  margin-left: 20px;
}
/* line 162, ../sass/screen.scss */
.nav-item a:after, .nav-item #first:after {
  display: block;
  content: '';
  border-top: 2px solid #ffa500;
  margin-top: 1px;
  transform: scaleX(0);
  transition: 0.3s all;
}

/* line 171, ../sass/screen.scss */
#first:after {
  transform: scaleX(1) !important;
}

/* line 174, ../sass/screen.scss */
.nav-link:hover:after {
  transform: scaleX(1);
}

/* line 177, ../sass/screen.scss */
a:hover {
  text-decoration: none;
  color: #000000;
}

/* line 181, ../sass/screen.scss */
.slider-nav, .recent-prop-list, .footerul {
  list-style-type: none;
  text-align: left;
}
/* line 184, ../sass/screen.scss */
.slider-nav li, .recent-prop-list li, .footerul li {
  display: inline-block;
  margin-right: 15px;
}

/* line 189, ../sass/screen.scss */
.slider-nav li, .recent-prop-list li {
  color: #9b9b9b;
}

/* line 192, ../sass/screen.scss */
.footerul {
  margin-top: 20px;
}

/* line 195, ../sass/screen.scss */
.slider-nav li:nth-of-type(n+2):before {
  content: '';
  border-left: 1px solid #9b9b9b;
  position: relative;
  margin-right: 20px;
}

/* line 201, ../sass/screen.scss */
.carousel-caption {
  top: 30%;
  bottom: 190px;
}

/* line 205, ../sass/screen.scss */
.carousel-controls {
  position: relative;
  color: #ffffff;
  background-color: #000000 !important;
  height: 30px;
  width: 40px;
  bottom: 10%;
}

/* line 213, ../sass/screen.scss */
.interval {
  visibility: hidden;
  height: 10px;
  width: 0%;
  position: absolute;
  bottom: 3px;
  background-color: #c4c4c4;
  border-radius: 5px;
}

/* line 223, ../sass/screen.scss */
.interval-fill {
  transition: 5s all ease-in-out;
  width: 100%;
}

/* line 227, ../sass/screen.scss */
.slider-input {
  height: 50px;
  float: left;
  width: 70%;
  margin-top: 10px;
  border: none;
  padding-left: 15px;
}

/* line 235, ../sass/screen.scss */
.slider-button, .comm-btn {
  color: #ffffff;
  background-color: #ffa500;
}

/* line 239, ../sass/screen.scss */
.slider-button {
  max-width: 120px;
  width: 30%;
  height: 50px;
  margin-top: 10px;
}

/* line 245, ../sass/screen.scss */
h1 {
  font-size: 45px;
  font-weight: 700;
  height: fit-content;
}

/* line 250, ../sass/screen.scss */
.col-sm-10.col-lg-7.col-xl-6 {
  margin-top: 40px;
}

/* line 253, ../sass/screen.scss */
.prop-list {
  padding-top: 34px;
  padding-bottom: 34px;
}
/* line 256, ../sass/screen.scss */
.prop-list img {
  display: inline-block;
  position: relative;
  width: 100%;
  height: auto;
  filter: brightness(70%);
  border-width: 5px;
}

/* line 265, ../sass/screen.scss */
.prop-list-caption {
  position: absolute;
  top: 60%;
  left: 0;
  right: 0;
  text-align: center;
  color: white;
  transition: 0.3s all;
  margin: 0 15px;
}
/* line 274, ../sass/screen.scss */
.prop-list-caption h4 {
  line-height: 1.25;
  font-size: 24px;
  margin-bottom: 0;
  font-weight: 400;
}
/* line 280, ../sass/screen.scss */
.prop-list-caption button {
  visibility: hidden;
  width: 210px;
  height: 50px;
  font-weight: 900;
  font-size: 14px;
  padding: 10px 0;
  border: 1px solid #ffa500;
  border-radius: 5px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

/* line 294, ../sass/screen.scss */
.prop img:hover + .prop-list-caption {
  top: 20%;
}
/* line 296, ../sass/screen.scss */
.prop img:hover + .prop-list-caption button {
  visibility: visible;
  transition-delay: 0.04s;
}

/* line 301, ../sass/screen.scss */
.prop-list-caption:hover {
  top: 20%;
}
/* line 303, ../sass/screen.scss */
.prop-list-caption:hover button {
  visibility: visible;
  transition-delay: 0.04s;
}

/* line 308, ../sass/screen.scss */
.justify-content {
  justify-content: center;
}

/* line 311, ../sass/screen.scss */
.recent-prop {
  padding: 66px 0 110px;
}
/* line 313, ../sass/screen.scss */
.recent-prop img {
  height: auto;
  width: 100%;
}
/* line 317, ../sass/screen.scss */
.recent-prop p {
  color: #434345;
  line-height: 1.5;
  margin-top: 19.5px;
}

/* line 324, ../sass/screen.scss */
.initial-title, .initial-title-white {
  font-weight: 700;
  font-size: 38px;
  line-height: 1.184;
  margin-bottom: 17px;
  color: #434345;
  text-align: center;
}

/* line 332, ../sass/screen.scss */
.initial-title-white {
  color: #ffffff;
}

/* line 336, ../sass/screen.scss */
hr:not(.tophr) {
  width: 40px;
  height: 2px;
  background: linear-gradient(90deg, #ffa200 0%, #ff7e00 100%);
  border: none;
  margin-top: 27px;
}

/* line 343, ../sass/screen.scss */
.recent-prop-list li:nth-of-type(n+2):before {
  content: '.';
  position: relative;
  margin-right: 15px;
  bottom: 5px;
}

/* line 349, ../sass/screen.scss */
.prop-name {
  display: block;
  font-weight: 700;
  font-size: 23px;
  color: #ffa500;
  padding-top: 25px;
}

/* line 356, ../sass/screen.scss */
.realestate-tools {
  background-image: url(../images/bg.jpg);
  background-size: cover;
  color: #ffffff;
  text-align: center;
}
/* line 361, ../sass/screen.scss */
.realestate-tools p {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
  color: #c4c4c4;
}
/* line 367, ../sass/screen.scss */
.realestate-tools h5 {
  font-weight: 700;
  font-size: 22px;
  margin-top: 20px;
  margin-bottom: 10px;
}

/* line 374, ../sass/screen.scss */
.icons-chat, .icons-star, .icons-office {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: linear-gradient(45deg, #ff7e00 0%, #f5bf2f 100%);
  display: block;
  margin: 0 auto;
}

/* line 382, ../sass/screen.scss */
.icon-openmail:before, .icon-phone:before, .icons-star:before, .icons-chat:before, .icons-office:before,
.icons-facebook:before, .icons-twitter:before, .icons-linkedin:before, .icons-gplus:before, .icon-mail:before,
.arrow-right:before, .icon-openmail-black:before, .icon-phone-black:before {
  font-family: 'icomoon';
  margin-right: 10px;
}

/* line 388, ../sass/screen.scss */
.icon-openmail:before {
  content: '\f2b7';
  color: #9b9b9b;
  margin-right: 13px;
  font-size: 15px;
}

/* line 394, ../sass/screen.scss */
.icon-phone:before {
  content: '\e901';
  color: #9b9b9b;
  margin-right: 13px;
  font-size: 14px;
}

/* line 400, ../sass/screen.scss */
.icon-openmail-black:before {
  content: '\f2b7';
  color: #434345;
  font-size: 15px;
}

/* line 405, ../sass/screen.scss */
.icon-phone-black:before {
  content: '\e901';
  color: #434345;
  font-size: 12px;
}

/* line 410, ../sass/screen.scss */
.icons-facebook:before,
.icons-twitter:before,
.icons-linkedin:before,
.icons-gplus:before,
.icon-mail:before {
  position: relative;
  vertical-align: middle;
  top: 7px;
}

/* line 419, ../sass/screen.scss */
.icon-mail:before {
  top: 9px;
}

/* line 422, ../sass/screen.scss */
.icons-chat:before,
.icons-star:before,
.icons-office:before {
  position: relative;
  top: 20px;
  margin: 0 auto;
}

/* line 429, ../sass/screen.scss */
.icons-chat:before {
  font-size: 30px;
  content: '\e900';
}

/* line 433, ../sass/screen.scss */
.icons-star:before {
  font-size: 30px;
  content: '\f005';
}

/* line 437, ../sass/screen.scss */
.icons-office:before {
  font-size: 30px;
  content: '\e903';
  padding-top: 20px;
}

/* line 442, ../sass/screen.scss */
.icons-facebook:before {
  padding-top: 10px;
  margin-left: 9px;
  content: '\ea90';
  color: #ffffff;
}

/* line 448, ../sass/screen.scss */
.icons-twitter:before {
  padding-top: 10px;
  margin-left: 10px;
  content: '\f099';
  color: #ffffff;
}

/* line 454, ../sass/screen.scss */
.icons-linkedin:before {
  padding-top: 8px;
  margin-left: 10px;
  content: '\eaca';
  color: #ffffff;
}

/* line 460, ../sass/screen.scss */
.icons-gplus:before {
  padding-top: 9px;
  margin-left: 11px;
  content: '\ea8b';
  color: #ffffff;
}

/* line 466, ../sass/screen.scss */
.icon-mail:before {
  content: '\f0e0';
  padding-top: 10px;
  padding-left: 9px;
}

/* line 471, ../sass/screen.scss */
.icon-mail-pre {
  background-color: #212121;
  height: 40px;
  margin-top: 30px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

/* line 478, ../sass/screen.scss */
.arrow-right:before {
  content: '\ea3c';
  margin-right: 5px;
  color: #ffa500;
  font-size: 11px;
}

/* line 484, ../sass/screen.scss */
.realestate-agents, .testimonials, .getintouch, .realestate-tools {
  padding-top: 110px;
  padding-bottom: 110px;
}

/* line 488, ../sass/screen.scss */
.testimonials p {
  line-height: 1.5;
}

/* line 491, ../sass/screen.scss */
.realestate-agents img {
  width: 100%;
}

/* line 494, ../sass/screen.scss */
.agents-name {
  display: block;
  font-size: 22px;
  font-weight: 700;
  color: #ffa500;
  padding-top: 15px;
}

/* line 501, ../sass/screen.scss */
.agents-details {
  display: block;
  font-weight: 400;
  font-size: 16px;
  color: #000000;
  padding: 4px 0px 3px;
}

/* line 508, ../sass/screen.scss */
.main-btn-prop {
  margin-top: 50px;
  width: 202px;
}

/* line 512, ../sass/screen.scss */
.comm-btn {
  height: 50px;
  font-size: 14px;
  font-weight: 700;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* line 520, ../sass/screen.scss */
.testimonials {
  background-color: #f5f5f5;
}

/* line 523, ../sass/screen.scss */
.testimonials p {
  text-align: left;
  color: #000000;
}

/* line 527, ../sass/screen.scss */
#reviewer {
  color: #434345;
  display: block;
  position: relative;
  font-weight: 700;
  line-height: 1.5;
  font-size: 16px;
  left: 100px;
  margin-top: 4px;
  font-style: normal;
}

/* line 538, ../sass/screen.scss */
.italic {
  font-style: italic;
}

/* line 541, ../sass/screen.scss */
.testimonial:before, .testimonial2:before, .testimonial3:before {
  content: '';
  border-radius: 50%;
  float: left;
  width: 80px;
  height: 80px;
  display: block;
  margin-right: 5px;
}

/* line 550, ../sass/screen.scss */
.testimonial:before {
  background-image: url("../images/small1.png");
}

/* line 553, ../sass/screen.scss */
.testimonial2:before {
  background-image: url("../images/small2.png");
}

/* line 556, ../sass/screen.scss */
.testimonial3:before {
  background-image: url("../images/small3.png");
}

/* line 559, ../sass/screen.scss */
.carousel-caption.testi {
  position: static;
}

/* line 562, ../sass/screen.scss */
.testimonials .carousel-indicators {
  bottom: -60px;
}

/* line 565, ../sass/screen.scss */
.carousel-indicators.testi li:not(.active) {
  background-color: #d9d9d9;
  border: none;
}

/* line 569, ../sass/screen.scss */
.active-orange {
  background-color: #ffa500 !important;
}

/* line 572, ../sass/screen.scss */
.getintouch {
  background-image: url("../images/bg2.jpg");
  background-size: cover;
}

/* line 576, ../sass/screen.scss */
.form-input {
  width: 100%;
  height: 46px;
  background: transparent;
  margin: 23.5px 12px 0px 0px;
  color: #ffffff;
  font-size: 13px;
  padding-left: 14px;
  border: 1px solid #ffffff;
}

/* line 587, ../sass/screen.scss */
.form-input::placeholder, textarea::placeholder {
  color: #ffffff;
}

/* line 590, ../sass/screen.scss */
textarea {
  background: transparent;
  padding-top: 15px;
  padding-left: 15px;
  border-radius: 5px;
  border: 1px solid #ffffff;
  height: 150px;
  font-size: 13px;
  color: #ffffff;
  resize: none;
  margin-top: 30px;
  width: 100%;
}

/* line 603, ../sass/screen.scss */
.align-center {
  text-align: center;
}

/* line 606, ../sass/screen.scss */
footer {
  padding-top: 66px;
  background-color: #000000;
}
/* line 609, ../sass/screen.scss */
footer h6 {
  color: #ffffff;
}

/* line 613, ../sass/screen.scss */
.footericon {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #212121;
  display: block;
  margin-left: 10px;
  cursor: pointer;
}

/* line 622, ../sass/screen.scss */
.newsletter-input {
  padding-left: 13px;
  width: 220px;
  height: 40px;
  border: 1px solid #ffffff;
  margin-top: 30px;
  border-right: none;
  margin-left: 0px;
}

/* line 631, ../sass/screen.scss */
.newsletter-btn {
  width: 94px;
  height: 40px;
  font-size: 15px;
  font-weight: 900;
  margin-top: 30px;
  padding-top: 0px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 1px solid #ffa500;
  border-left: none;
}

/* line 643, ../sass/screen.scss */
.useful-links-list li {
  display: block;
  width: 100%;
  padding-left: 0px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  padding-bottom: 8px;
  padding-top: 2px;
}

/* line 653, ../sass/screen.scss */
.useful-links-list li:before {
  content: '';
  float: left;
  display: block;
  position: relative;
  margin-right: 8px;
  top: 13px;
  border-radius: 50%;
  height: 4px;
  width: 4px;
  background-color: #ffa500;
  margin-left: 2px;
}

/* line 666, ../sass/screen.scss */
time {
  color: #9b9b9b;
  font-size: 12px;
}

/* line 670, ../sass/screen.scss */
article:hover time {
  padding-left: 10px;
  transition: 0.3s all;
}

/* line 674, ../sass/screen.scss */
article:hover .latest-news-heading {
  color: #ffa500;
}

/* line 677, ../sass/screen.scss */
.latest-news-heading {
  font-weight: 400;
  letter-spacing: 0.0em;
  color: #ffffff;
  font-size: 17px;
  line-height: 1.47059;
  margin-top: 5px;
  margin-bottom: 18px;
}

/* line 686, ../sass/screen.scss */
.color-white {
  color: #ffffff;
}

/* line 689, ../sass/screen.scss */
.main-btn-send {
  margin-top: 25px;
  width: 149.15px;
}

/* line 693, ../sass/screen.scss */
.rounded-border {
  border-radius: 5px;
}

/* line 696, ../sass/screen.scss */
.main-btn-agents {
  margin-top: 66px;
  width: 170px;
}

/* line 700, ../sass/screen.scss */
.main-btn-agents.rounded-border, .main-btn-send.rounded-border, .main-btn-prop.rounded-border, .slider-button.rounded-border {
  border-color: #ffa500;
}

/* line 703, ../sass/screen.scss */
h6 {
  color: #434345;
  font-weight: 700;
  font-size: 17px;
  line-height: 1.47059;
  margin-top: 10px;
}

/* line 710, ../sass/screen.scss */
.active-white {
  color: #ffffff !important;
}

@media (min-width: 300px) {
  /* line 716, ../sass/screen.scss */
  .slider-nav li {
    margin-right: 5px;
    cursor: pointer;
  }

  /* line 720, ../sass/screen.scss */
  .slider-nav li:nth-of-type(n+2):before {
    margin-right: 5px;
  }
}
@media (max-width: 420px) {
  /* line 726, ../sass/screen.scss */
  .slider-input {
    width: 100%;
  }

  /* line 729, ../sass/screen.scss */
  .slider-button {
    min-width: 100%;
  }
}
@media (max-width: 380px) {
  /* line 734, ../sass/screen.scss */
  .navbar-brand {
    display: none;
  }

  /* line 737, ../sass/screen.scss */
  .newsletter-input {
    width: 150px;
  }

  /* line 740, ../sass/screen.scss */
  .newsletter-btn {
    width: 90px;
  }
}
@media (max-width: 576px) {
  /* line 745, ../sass/screen.scss */
  .carousel-caption {
    top: 18%;
  }
}
@media (min-width: 576px) {
  /* line 750, ../sass/screen.scss */
  .slider-nav li {
    margin-right: 20px;
  }

  /* line 753, ../sass/screen.scss */
  .slider-nav li:nth-of-type(n+2):before {
    margin-right: 20px;
  }
}
@media (max-width: 1180px) {
  /* line 758, ../sass/screen.scss */
  .fixed-top {
    padding: 0 !important;
  }
}
